---
layout: default
title: Categorias - El Caraqueño
---

<section class="wow fadeIn half-section p-0 top-space">
	<h4>Categorías</h4>
	<ul>
		{% assign categories_list = site.categories | sort %}
		{% if categories_list.first[0] == null %}
		{% for category in categories_list %}
		<li><a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }}
				({{ site.tags[category].size }})</a></li>
		{% endfor %}
		{% else %}
		{% for category in categories_list %}
		<li><a href="#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }}
				({{ category[1].size }})</a></li>
		{% endfor %}
		{% endif %}
		{% assign categories_list = nil %}
	</ul>
</section>

<section class="wow fadeIn half-section">
	<div class="container">
		<div class="row">
			<main
				class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom">

				{% assign categories_list = site.categories | sort %}
				{% for category in categories_list %}

				<div class="row padding-20px-top padding-20px-left">
					<h5 id="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"
						class="text-extra-dark-gray alt-font font-weight-600">
						{{ category[0] | camelcase }}
					</h5>
				</div>
				<div class="d-flex flex-wrap hover-option4 blog-post-style2">
					{% assign pages_list = category[1] %}
					{% for post in pages_list limit:3 %}
					<div class="col-12 col-xl-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="blog-post blog-post-style2">
							<div class="blog-post-images overflow-hidden margin-25px-bottom sm-margin-15px-bottom">
								<a href="{{ post.url }}">
									<img src="https://el-caraqueno.s3.amazonaws.com/{{ post.preview_image }}" alt="">
								</a>
							</div>
							<div class="post-details">
								<a href="{{ post.url }}"
									class="post-title text-medium text-extra-dark-gray width-90 d-block lg-width-100">
									{{ post.title }}
								</a>
								<div
									class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb sm-margin-15px-tb">
								</div>
								<div class="author">
									<span
										class="text-medium-gray text-uppercase text-extra-small padding-15px-left d-inline-block">{{ post.publish_date }}</span>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				{% endfor %}
			</main>

			{% include sidebar.html %}
		</div>
	</div>
</section>