---
layout: default
title: El Caraqueño
---

<section class="wow fadeIn half-section p-0 top-space">
    <div class="container-fluid padding-30px-lr sm-padding-15px-lr">
        <div class="swiper-full-screen swiper-container width-100">
            <div class="swiper-wrapper">
                <!-- start slider item -->
                <div class="swiper-slide cover-background" style="background-image:url('images/blog-slider-img5.jpg')">
                    <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                    <div class="container position-relative one-fourth-screen sm-height-400px">
                        <div class="slider-typography text-center">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle">
                                    <div class="col-12 col-lg-6 col-md-8 mx-auto slide-content">
                                        <div class="blog-post-content margin-45px-bottom sm-margin-30px-bottom sm-text-center">
                                            <div class="fit-videos">
                                                <!-- start vimeo video -->
                                                <video autoplay muted loop controls><source src="https://el-caraqueno.s3.amazonaws.com/videopollitoenhuevo.mp4" type="video/mp4"></video>
                                                <!-- end vimeo video -->
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide cover-background" style="background-image:url('images/blog-slider-img6.jpg')">
                    <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                    <div class="container position-relative one-fourth-screen sm-height-400px">
                        <div class="slider-typography text-center">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle">
                                    <div class="col-12 col-lg-6 col-md-8 mx-auto slide-content">
                                        <div class="padding-50px-all sm-padding-30px-all bg-black-opacity">
                                            <a href="blog-grid.html" class="text-medium-gray text-extra-small text-uppercase alt-font font-weight-600 margin-10px-bottom d-inline-block">Branding and Identity</a>
                                            <h4><a href="blog-post-layout-02.html" class="font-weight-600 text-white-2 alt-font">Young pretty girl posing in the street</a></h4>
                                            <a class="btn btn-very-small btn-transparent-white" href="blog-post-layout-02.html">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide cover-background" style="background-image:url('images/blog-slider-img7.jpg')">
                    <div class="opacity-extra-medium bg-extra-dark-gray"></div>
                    <div class="container position-relative one-fourth-screen sm-height-400px">
                        <div class="slider-typography text-center">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle">
                                    <div class="col-12 col-lg-6 col-md-8 mx-auto slide-content">
                                        <div class="padding-50px-all sm-padding-30px-all bg-black-opacity">
                                            <a href="blog-grid.html" class="text-medium-gray text-extra-small text-uppercase alt-font font-weight-600 margin-10px-bottom d-inline-block">Branding and Identity</a>
                                            <h4><a href="blog-post-layout-03.html" class="font-weight-600 text-white-2 alt-font">Do one thing every day that scares you</a></h4>
                                            <a class="btn btn-very-small btn-transparent-white" href="blog-post-layout-03.html">Continue Reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white swiper-full-screen-pagination"></div>
            <div class="swiper-button-next swiper-next-style5"></div>
            <div class="swiper-button-prev swiper-prev-style5"></div>
        </div>
    </div>
</section>

<section class="wow fadeIn half-section">
    <div class="container">
        <div class="row">
            <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">
                <div class="d-flex flex-wrap hover-option4 blog-post-style3">
                    
                    {% for article in site.editorial %}
                    <div class="grid-item col-12 col-md-6 margin-30px-bottom text-center text-md-left wow fadeInUp">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative text-center">
                                <a href="{{ article.url }}">
                                    <img src="https://el-caraqueno.s3.amazonaws.com/{{ article.preview_image }}" alt="{{ article.title }}">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="{{ article.url }}" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">
                                    {{ article.title }}
                                </a>
                                <p>
                                    {{ article.preview_sentence }}
                                </p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">
                                        {{ article.publish_date }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- start slider pagination -->
                <div class="col-12 text-center margin-100px-top md-margin-50px-top wow fadeInUp">
                    <div class="pagination text-small text-uppercase text-extra-dark-gray">
                        <ul class="mx-auto">
                            <li><a href="#"><i class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i> Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end slider pagination -->
            </main>
            
            {% include sidebar.html %}
        </div>
    </div>
</section>