<footer class="footer-center-logo-dark bg-extra-dark-gray padding-five-tb sm-padding-30px-tb">
    <div class="container">
        <div class="row align-items-center">
            <!-- start copyright -->
            <div class="col-lg-3 col-md-4 text-small text-center alt-font sm-margin-15px-bottom">
                <span class="alt-font text-small margin-20px-right">En las redes</span>
                <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                    <ul class="small-icon mb-0">
                        <li><a class="facebook text-white-2" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a class="instagram text-white-2" href="https://instagram.com/" target="_blank"><i class="fab fa-instagram mr-0" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end copyright -->
            <!-- start logo -->
            <div class="col-lg-6 col-md-4 text-center sm-margin-15px-bottom">
                <a href="{{ baseurl }}/index.html"><img class="footer-logo" src="{{ baseurl }}/assets/images/logo-white.png" data-rjs="assets/images/logo-white@2x.png" alt=""></a>
            </div>
            <!-- end logo -->
            <!-- start social media -->
            <div class="col-lg-3 col-md-4 text-center text-small">
                &COPY; 2020 El Caraqueño -  Derechos Reservados.                
            </div>
            <!-- end social media -->
        </div>
    </div>
</footer>