<section class="wow fadeIn parallax bg-extra-dark-gray" data-stellar-background-ratio="0.5" style="max-width:'200px'; background-image:url('https://el-caraqueno.s3.amazonaws.com/{{ page.large_image }}'); visibility: visible; animation-name: fadeIn; ">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div style="padding-top: 80px;" class="col-12 extra-small-screen text-center page-title-extra-small d-flex flex-column justify-content-center">
                <div style="padding-bottom: 15px;" class="breadcrumb justify-content-center text-small ">
                    <!-- start breadcrumb -->
                    <ul class="text-center text-md-left text-uppercase">
                        <li>Publicado el {{ page.publish_date }}</li>
                        {% for category in page.categories %}
                            <li class="text-dark-gray"><a href="#">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                    <!-- end breadcrumb -->
                </div>
                <!-- start title -->
                <h2 class="text-white-2 alt-font font-weight-600 width-55 md-width-80 mx-auto sm-width-100 letter-spacing-minus-1 line-height-50 md-line-height-45 sm-line-height-30">
                    {{ page.title }}
                </h2>
                <!-- end title -->
            </div>
        </div>
    </div>
</section>