<aside class="col-12 col-lg-3 float-right">
    <div class="margin-35px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>Sobre Nosotros</span></div>
        <div class="text-center">
            <a href="{{ baseurl }}/index.html"><img src="{{ baseurl }}/assets/images/LogoSmallBlack.png" alt="" class="margin-25px-bottom"/></a>
        </div>
        <p class="margin-20px-bottom text-medium text-center">
            El Caraqueño te ofrece contenido interesante de calidad internacional - del mundo para Venezuela!
        </p>
    </div>    
    <div class="margin-35px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Recíbenos en tu Correo</span></div>
        <div class="d-inline-block width-100">
            <form>
                <div class="position-relative">
                    <input type="email" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Ingresa tu email...">
                    <button type="submit" class="bg-transparent text-large btn position-absolute right-0 top-3"><i class="far fa-envelope ml-0"></i></button>
                </div>   
            </form>
        </div>
    </div>
    <div class="margin-30px-bottom">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Síguenos</span></div>
        <div class="social-icon-style-1 text-center">
            <ul class="extra-small-icon">
                <li><a class="instagram" href="https://www.instagram.com/elcaraquenooficial/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="facebook" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="margin-45px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Categorías</span></div>
        <ul class="list-style-6 margin-50px-bottom text-small">
            <li><a href="blog-masonry.html">Arte</a></li>
            <li><a href="blog-masonry.html">Ciencia y Tecnología</a></li>
            <li><a href="blog-masonry.html">Curiosidades</a></li>
            <li><a href="blog-masonry.html">Deporte</a></li>
            <li><a href="blog-masonry.html">Economía</a></li>
            <li><a href="blog-masonry.html">Entretenimiento</a></li>
            <li><a href="blog-masonry.html">Historia y Literatura</a></li>
            <li><a href="blog-masonry.html">Mecánica</a></li>
            <li><a href="blog-masonry.html">Salud</a></li>
            <li><a href="blog-masonry.html">Sociedad</a></li>
        </ul>   
    </div>
    <div class="bg-deep-pink padding-30px-all text-white-2 text-center margin-45px-bottom sm-margin-25px-bottom">
        <i class="fas fa-quote-left icon-small margin-15px-bottom d-block"></i>
        <span class="text-extra-large font-weight-300 margin-20px-bottom d-block">La Plaza Altamira de tu Caracas digital; porque obtener información de Internet es como tomarse un trago directo de un hidrante!</span>
    </div>
    <div class="margin-45px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Reseñas Populares</span></div>
        <ul class="latest-post position-relative">
            <li class="media">
                <figure>
                    <a href="blog-post-layout-01.html"><img src="images/aside-image-2.jpg" alt=""></a>
                </figure>
                <div class="media-body text-small"><a href="blog-post-layout-01.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">Traveling abroad will change you forever</span></a> <span class="clearfix text-medium-gray text-small">April 30, 2016</span></div>
            </li>
            <li class="media">
                <figure>
                    <a href="blog-post-layout-03.html"><img src="images/aside-image-3.jpg" alt=""></a>
                </figure>
                <div class="media-body text-small"><a href="blog-post-layout-03.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">Having a new perspec-tive on new york city</span></a> <span class="clearfix text-medium-gray text-small">March 10, 2016</span></div>
            </li>
            <li class="media">
                <figure>
                    <a href="blog-post-layout-04.html"><img src="images/aside-image-4.jpg" alt=""></a>
                </figure>
                <div class="media-body text-small"><a href="blog-post-layout-04.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">The incredible talents of street performers</span></a> <span class="clearfix text-medium-gray text-small">March 05, 2016</span></div>
            </li>
            <li class="media">
                <figure>
                    <a href="blog-post-layout-05.html"><img src="images/aside-image-5.jpg" alt=""></a>
                </figure>
                <div class="media-body text-small"><a href="blog-post-layout-05.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">Praesent placerat risus quis eros</span></a> <span class="clearfix text-medium-gray text-small">March  01, 2016</span></div>
            </li>
        </ul>
    </div>
    <div class="margin-45px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Nube de Etiquetas</span></div>
        <div class="tag-cloud">
            <a href="blog-grid.html">ANIMALES</a>
            <a href="blog-grid.html">BIOLOGÍA</a>
            <a href="blog-grid.html">MEDICINA</a>
        </div>
    </div>
    <div class="margin-45px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Archiv0</span></div>
        <ul class="list-style-6 margin-20px-bottom text-small">
            <li><a href="blog-grid.html">Enero 2020</a></li>
            <li><a href="blog-grid.html">Febrero 2020</a></li>
            <li><a href="blog-grid.html">Marzo 2020</a></li>
            <li><a href="blog-grid.html">Abril 2020</a></li>
            <li><a href="blog-grid.html">Mayo 2020</a></li>
        </ul>   
    </div>
</aside>