<aside class="col-12 col-lg-3 float-right">
    <div class="margin-35px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>Sobre Nosotros</span></div>
        <div class="text-center">
            <a href="{{ baseurl }}/index.html"><img src="{{ baseurl }}/assets/images/LogoSmallBlack.png" alt="" class="margin-25px-bottom"/></a>
        </div>
        <p class="margin-20px-bottom text-small text-center">
            El Caraqueño es una publicación digital moderna dedicada a ofrecer contenido internacional en español para el disfrute de todos los Venezolanos.
        </p>
    </div>
    <div class="margin-30px-bottom">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Síguenos</span></div>
        <div class="social-icon-style-1 text-center">
            <ul class="extra-small-icon">
                <li><a class="instagram" href="https://www.instagram.com/elcaraquenooficial/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="facebook" href="http://facebook.com/elcaraquenooficial/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="bg-deep-pink padding-30px-all text-white-2 text-center margin-45px-bottom sm-margin-25px-bottom">
        <i class="fas fa-quote-left icon-small margin-15px-bottom d-block"></i>
        <span class="text-extra-large font-weight-300 margin-20px-bottom d-block">La Plaza Altamira de tu Caracas digital; porque sacar información de Internet es como tomarse un trago de un hidrante</span>
    </div>
    <div class="margin-45px-bottom sm-margin-25px-bottom">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Categorías</span></div>
        <ul class="list-style-6 margin-50px-bottom text-small">
            <li><a href="{{ baseurl }}/arte.html">Arte</a></li>
            <li><a href="{{ baseurl }}/ciencia-y-tecnologia.html">Ciencia y Tecnología</a></li>
            <li><a href="{{ baseurl }}/curiosidades.html">Curiosidades</a></li>
            <li><a href="{{ baseurl }}/deporte.html">Deporte</a></li>
            <li><a href="{{ baseurl }}/economia.html">Economía</a></li>
            <li><a href="{{ baseurl }}/entretenimiento.html">Entretenimiento</a></li>
            <li><a href="{{ baseurl }}/historia-y-literatura.html">Historia y Literatura</a></li>
            <li><a href="{{ baseurl }}/mecanica.html">Mecánica</a></li>
            <li><a href="{{ baseurl }}/salud.html">Salud</a></li>
            <li><a href="{{ baseurl }}/sociedad.html">Sociedad</a></li>
        </ul>   
    </div>
</aside>