---
layout: default
---
{% include title.html %}

<!-- start post content section --> 
<section>
    <div class="container">
        <div class="row">
            <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">
                <div class="col-12 blog-details-text last-paragraph-no-margin">
                    <div class="blog-post-content margin-45px-bottom sm-margin-30px-bottom sm-text-center">
                        <div class="fit-videos">
                            <!-- start video -->
                            <video autoplay muted loop controls>
                                <source src="https://el-caraqueno.s3.amazonaws.com/{{ page.video_file }}" type="video/mp4">
                            </video>
                            <!-- end video -->
                        </div> 
                    </div>
                    <p>
                        <span class="first-letter first-letter-block bg-extra-dark-gray text-white-2">
                            {{ page.decorative_letter}}
                        </span>
                        {{ page.intro_paragraph }}
                    </p>

                    {% unless page.blockquote == "" %}
                    <blockquote class="border-color-deep-pink">
                        <p>
                            {{ page.blockquote}}
                        </p>
                        <footer>{{ page.blockquote_author }}</footer>
                    </blockquote>
                    {% endunless %}

                    <figure class="wp-caption alignleft">
                        <img alt="{{ page.image_legend }}" src="https://el-caraqueno.s3.amazonaws.com/{{ page.image_file }}">
                        <figcaption class="wp-caption-text">{{ page.image_legend }}</figcaption>
                    </figure>     

                    {% for paragraph in page.other_paragraphs %}
                        <p>{{ paragraph }}</p>  
                    {% endfor %}                          
                </div>
                <div class="col-12 margin-seven-bottom margin-eight-top">
                    <div class="divider-full bg-medium-light-gray"></div>
                </div>  
                <div class="col-12 d-flex flex-wrap p-0">
                    <div class="col-12 mx-auto text-center margin-80px-tb md-margin-50px-tb sm-margin-30px-tb">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Related Posts</span>
                        </div>
                    </div>
                    <!-- start post item -->
                    <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin md-margin-50px-bottom sm-margin-30px-bottom wow fadeIn">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="blog-post-layout-01.html">
                                    <img src="http://placehold.it/700x500" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">17 july 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Jay Benjamin</a></span>
                                <a href="blog-post-layout-01.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">I try to look at design from a more conceptual standpoint.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin md-margin-50px-bottom sm-margin-30px-bottom wow fadeIn" data-wow-delay="0.2s">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="blog-post-layout-02.html">
                                    <img src="http://placehold.it/700x500" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">03 July 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Herman Miller</a></span>
                                <a href="blog-post-layout-02.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Good design accelerates the adoption of new ideas.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div> 
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin sm-margin-30px-bottom wow fadeIn" data-wow-delay="0.4s">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="blog-post-layout-03.html">
                                    <img src="http://placehold.it/700x500" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">22 June 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Hugh Macleod</a></span>
                                <a href="blog-post-layout-03.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Design is inherently optimistic. That is its power.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                </div>
                <div class="col-12 margin-eight-top">
                    <div class="divider-full bg-medium-light-gray"></div>
                </div>
            </main>
            
            {% include sidebar.html %}
        </div>
    </div>
</section>
<!-- end blog content section --> 