---
layout: defaultwithcomments
---
{% include postTitle.html %}

<!-- start post content section --> 
<section>
    <div class="container">
        <div class="row">
            <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">
                <div class="col-12 blog-details-text last-paragraph-no-margin">
                    <div class="blog-post-content margin-45px-bottom sm-margin-30px-bottom sm-text-center">
                        <div class="fit-videos">
                            <!-- start video -->
                            <video autoplay muted loop controls>
                                <source src="https://el-caraqueno.s3.amazonaws.com/{{ page.video_file }}" type="video/mp4">
                            </video>
                            <!-- end video -->
                        </div> 
                    </div>
                    <p>
                        <span class="first-letter text-deep-pink">
                            {{ page.decorative_letter}}
                        </span>
                        {{ page.intro_paragraph }}
                    </p>

                    {% unless page.blockquote == "" %}
                    <blockquote class="border-color-deep-pink">
                        <p>
                            {{ page.blockquote}}
                        </p>
                        <footer>{{ page.blockquote_author }}</footer>
                    </blockquote>
                    {% endunless %}

                    <figure class="wp-caption alignleft">
                        <img alt="{{ page.image_legend }}" src="https://el-caraqueno.s3.amazonaws.com/{{ page.image_file }}">
                        <figcaption class="wp-caption-text">{{ page.image_legend }}</figcaption>
                    </figure>     

                    {% for paragraph in page.other_paragraphs %}
                        <p>{{ paragraph }}</p>  
                    {% endfor %}                          
                </div>
                <div class="col-12 margin-seven-bottom margin-eight-top">
                    <div class="divider-full bg-medium-light-gray"></div>
                </div>

                {% include commentform.html %}
            </main>
            
            {% include sidebar.html %}
        </div>
    </div>
</section>
<!-- end blog content section --> 